/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --color-h1: #DB00FF;
  --color-h2: #FF0070;
  --color-h3: #000028;
  --font-size: 18px;
  --color-main-text: #F1B2CE;
  --background-color: #000028;
  --font-size: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --border-hover-color: rgba(255, 0, 112, 0.4);
  --color-shadow-footer: #FF0070;
  --color-decorated-zone: #FF0070;
}
